<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.xy.demoxy">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/demo"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar"
        android:supportsRtl="true"
        >

        <activity
            android:name=".TransparentMaskActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            >
            <intent-filter>
                <action android:name="com.example.xy.TRANSPARENTMASK" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            >
            <intent-filter>
                <!--<action android:name="com.example.xy.MAINACTIVITY" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".GoogleVoiceActivity"
            android:label="@string/text_google_voice"
            >
            <intent-filter>
                <action android:name="com.example.xy.GOOGLEVOICE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".VolumeActivity">
            <intent-filter>
                <action android:name="com.example.xy.ANDROIDVOLUME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ButtonClickActivity">
            <intent-filter>
                <action android:name="com.example.xy.BUTTONCLICK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AssistantActivity">
            <intent-filter>
                <action android:name="com.example.xy.ASSISTANTCLICK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
